/*CSS for the body*/
body {
  background: url(web_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;; /*need image that gives sense of protection/calm*/
}
  
  /*Product Name*/
  h1 {
    text-align:center;
  }
  
  /*Start button*/
  .start_button{
    text-align: center;
    cursor:pointer;
  }
  
  /*Stop button*/
  .stop_button{
    text-align: center;
    cursor:pointer;
  }